/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */
:root {
    /* container-max-width */
    --container-max-width: 736px;

    /* primary color */
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(15, 4%, 18%);
    /* secondary color */
    --clr-brown-800: hsl(14, 45%, 36%);
    /* accent color */
    --clr-rose-50: hsl(330, 100%, 98%);
    --clr-rose-800: hsl(332, 51%, 32%);

    /* spacings */
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 14px;
    --spacing-200: 16px;
    --spacing-250: 24px;
    --spacing-300: 32px;
    --spacing-400: 40px;
    --spacing-900: 124px;

    /* border radius */
    --border-radius: 20px;

    /* font-sizes */
    --fs-100: 12px;
    --fs-200: 14px;
    --fs-300: 16px;
    --fs-400: 20px;
    --fs-500: 24px;
    --fs-600: 32px;

    /* font-family */
    --ff-base: "Outfit", sans;
    --ff-headings: "Young Serif", sans-serif;
}

/* ----------------- */
/*      PRESETS      */
/* ----------------- */
.recipe-title {
    font-family: var(--ff-headings);
    font-weight: 500;
    font-size: var(--fs-600, 32px);
    color: var(--clr-stone-900);
    line-height: 120%;
}

.article-heading {
    font-family: var(--ff-headings);
    font-weight: 400;
    font-size: var(--fs-500, 24px);
    color: var(--clr-brown-800);
}

p {
    font-family: var(--ff-base);
    font-weight: 400;
    font-size: var(--fs-300, 16px);
    color: var(--clr-stone-600);
    line-height: 150%;
}

ul,
ol {
    padding-left: 1.5rem;
    line-height: 150%;

    li::marker {
        color: var(--clr-brown, #854632);
        font-weight: 700;

    }

    li {
        padding-left: 1rem;
        margin-bottom: var(--spacing-100);
        color: var(--clr-stone-600);

        strong {
            font-weight: 600;
            color: var(--clr-stone-900);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}

ul {
    list-style-type: square;

    li::marker {
        font-size: var(--fs-200);
    }
}

table {
    border-collapse: collapse;

    tr {

        border-bottom: 1px solid var(--clr-stone-150);

        &:last-child {
            border-bottom: none;
        }

        td {
            color: var(--clr-stone-600);
            padding: var(--spacing-150) 0 var(--spacing-150) var(--spacing-400);

            &:nth-of-type(even) {
                color: var(--clr-brown-800);
                font-weight: 600;
            }
        }
    }
}

.box {
    padding: var(--spacing-300);
    border-radius: calc(var(--border-radius)/2);

    .box__heading {
        font-size: var(--fs-400, 20px);
        margin-bottom: var(--spacing-200);
    }

    display: flex;
    flex-direction: column;

    &.box--rose {
        background-color: var(--clr-rose-50, #FFF7FC);

        .box__heading {
            color: var(--clr-rose-800, #7b284f);
            font-weight: 600;
        }

        ul li::marker {
            color: var(--clr-rose-800, #7b284f);

        }
    }
}



body {
    font-size: var(--fs-300);
    background-color: var(--clr-stone-100);
    font-family: var(--ff-base);
}


article,
figure {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
    padding-inline: var(--spacing-400);
}

hr {
    width: calc(100% - var(--spacing-400) * 2);
    margin-inline: auto;
    border-top: 1px solid var(--clr-stone-150);
}

/* ----------------- */
/* RECIPE DETAILS */
/* ----------------- */
.recipe-details {
    margin: var(--spacing-900) auto;
    padding: var(--spacing-400) 0;
    max-width: var(--container-max-width);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    background: var(--white, #FFFFFF);

    img {
        border-radius: calc(var(--border-radius)/2);

    }
}

@media (width < 480px) {
    .recipe-details {
        padding-top: 0;
        margin: 0;

        article {
            padding-inline: var(--spacing-250);
        }

        figure {
            padding-inline: 0;

            img {
                border-radius: 0;
            }
        }

        hr {
            width: calc(100% - var(--spacing-300) * 2);
        }

    }
}

/* ----------------- */
/* ATTRIBUTION */
/* ----------------- */
.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    margin-top: 1rem;
    width: 100%;
    color: var(--clr-stone-900);

    a {
        color: var(--clr-rose-800);
    }
}